html {
	scroll-behavior: smooth;
	height: 100%;
	font-size: 14px;
	overflow-x: hidden;
	font-family: "Nunito", sans-serif;
}

html.mod-touch * {
	background-attachment: scroll !important;
}

button {
	font-family: "Nunito", sans-serif;
}

img {
	outline: none;
	user-select: none !important;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

body {
	font-family: "Nunito", sans-serif;
	margin: 0px;
	min-height: 100%;
	line-height: 20px;
	height: 100%;
	background: #ffffff;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

h1 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 40px;
	line-height: 44px;
	font-weight: 700;
}

p {
	display: block;
	margin: 0px auto 5px;
	font-family: "Nunito", sans-serif;
	font-size: 12pt;
	line-height: 20px;
	color: #111520;
	letter-spacing: 0px;
}

a {
	text-decoration: none;
}

input {
	outline: none;
	padding: 10px;
	font-family: "Nunito", sans-serif;
}

.container {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.body {
	min-height: 80vh;
	height: auto;
	margin-bottom: 20px;
}

.controls-container,
.manager-container,
.players-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

.manager-container {
	margin-top: 50px;
}

.ticketInput {
	width: 50px;
}

.card {
	font-family: "Nunito", sans-serif;
	padding: 10px;
	margin: 10px 30px;
	width: 300px;
	height: auto;
	background: #FFF;
	border-radius: 15px;
	box-shadow: 0 2px 4px 0 #0000001e, 0 5px 10px 0 #0000002f;
	font-size: 16px;
}

.card.manager {
	width: 300px;
}

.card>div {
	margin-bottom: 10px;
}

.card.controls {
	width: 400px;
	margin-bottom: 30px;
}

input {
	width: 175px;
}

Button {
	font-size: 12px;
	background: #fff;
	box-shadow: 0 2px 4px 0 #0000001e, 0 2px 4px 0 #0000002f;
	width: auto;
	border-radius: 10px;
	height: 40px;
	margin: 10px;
	cursor: pointer;
	outline: none;
	border: none;
}

.card>span {
	text-overflow: clip;
}

.logo {
	height: 100px;
	margin: 20px;
}

.copyright {
	position: relative;
	left: 1px;
	margin-bottom: 15px;
	color: #a1a2a7;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	font-family: "Nunito", sans-serif;
}